node_modules
__pycache__
venv

# All files from the NVIDIA repo
config.py
utils.py
assets
webxr-app-api/nim_trellis/constants.py
webxr-app-api/nim_trellis/manager.py
webxr-app-api/nim_trellis/ngc.py
webxr-app-api/nim_trellis/run_trellis.py
webxr-app-api/nim_trellis/start_trellis_container.sh
webxr-app-api/nim_trellis/trellis_container.log
webxr-app-api/nim_trellis/wsl_mount.py
webxr-app-api/services/agent_service.py
webxr-app-api/services/guardrail_service.py
webxr-app-api/services/model_3d_service.py
webxr-app-api/services/__init__.py
